<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>ToDoliste</title>
</head>
<body>
    <div class="grid-container">
        <div class="item1">ToDolisteApp</div>
        <div class="item2">
            <form action="index">
                <input type="text">
                <input type="text">
                <input type="button" value="valider">
            </form>
        </div>
        <div class="item3">Main</div>  
        <div class="item4">Right</div>
        <div class="item5">Footer</div>
      </div>
      
</section>
</body>
</html>